<!DOCTYPE html>
<html>

<head>
  <title>HitrustExam</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if notice %>
  <p class="notice"> <%= notice %> </p>
  <% end %>

  <%= yield %>

  <% if session['user_id'] %>
  <%= User.find(session['user_id']).email %>
  <% end %>
</body>

</html>